.section-3 {
  background-color: var(--gray-light);
}


.section-3 .icon {
  width: 60px;
}

.section-3 .feature {
  text-align: center;
}

@media (min-width: 800px) {
  .section-3 .container {
  }

  .section-3 .feature {
    text-align: left;
  }

  .section-3 .feature:nth-of-type(3) {
  }

  .section-3 .feature {
  }

  .section-3 .icon {
    margin-right: 20px;
  }
}